/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap'); */

@charset "UTF-8";

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
      format("woff"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
      format("woff"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf")
      format("truetype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
      format("woff"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "et-book", Georgia, serif;
}

body {
  background-color: black;
  line-height: 1.75;
}

header {
  display: block;
  padding: 1em;
  background-color: rgba(95, 121, 149, 1);
  background-size: cover;
  box-sizing: border-box;
  color: white;
  font-size: 2em;
  width: 100%;
}

h1 {
  font-size: 5.625em;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

h3 {
  text-align: center;
  margin-top: 100px;
}

/* sección indice -nav Tag */

nav {
  display: block;
}

nav li cite {
  display: block;
  display: flex;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
}

nav li:hover {
  background-color: rgb(29, 28, 28);
}

nav a {
  font-size: 2.5em;
}

/* sección agradecimientos */

.agradecimientos {
  margin-top: 200px;
}

.agradecimientos h2 {
  text-align: center;
  text-justify: auto;
  font-size: 80px;
  line-height: 1.75;
}

.agradecimientos p {
  font-size: 2em;
  text-align: center;
}

/* Sección footer */
footer {
  font-size: 2em;
  text-align: center;
}

footer p {
  max-width: 28em; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

/* estilos de página introducción */

.header-page a {
  text-decoration: none;
}

article {
  font-size: 2em;
  text-align: center;
  
}



 article p {
  margin: 10%;
  text-align: left;
} 

 article > p:first-of-type:first-line {
  font-variant:small-caps;
  font-size: 1.3em;
  line-height: 1.25;
  letter-spacing: 0.07em;
  text-align: justify;
  
}

#page-title p {
  letter-spacing: 0.025em;
  font-size: 15vw;
  text-align: center;
  font-weight: normal;
  line-height: 1;
  margin-top: 60px;
  text-align: center;
}

#page-title:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 45%; /* Change this to whatever width you want. */
  padding-top: 150px; /* This creates some space between the element and the border. */
  border-bottom: 0.35em solid rgba(95, 121, 149, 0.5); /* This creates the border */
}

#mve {
  width: 800px;
  margin: auto;
  display: block;
  margin-top: 200px;
}

figure img {
  margin: auto;
  display: block;
  width: 400px;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 5%;
}

#references {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin: 10%;
}

#references p {
  display: block;
  margin: 0px;
  padding: 50px;
  margin-top: 40px;
  font-size: 35px;
  text-align: center;
}

/* PRIMER APARTADO */

.img-fragments {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 5px;
}

.img-fragments img {
  width: 200px;
  height: auto;
  padding: 5px;
}

#manet {
  width: 800px;
}

.cite {
  font-style: italic;
  margin: 0px 300px 0px 300px;
  text-align: justify;
}

.epigraph {
  font-size: 50px;
  text-align: end;
  font-style: italic;
  margin: 100px 70px 100px 500px;
}

/* imágenes responsivas */

@media only screen and (max-width: 768px) {
  .img-fragments {
    /*  Nowrap no se necesita, pero por algo sí, pero no. pero no sé muy bien, déjalo así mira ya, como sea, */
    flex-flow: column nowrap;
    align-items: center;
  }

  #mve {
    width: 400px;
    margin: 50px;
    justify-content: space-evenly;
    align-items: center;
  }

  figure img {
    width: 300px;
  }

  figure #croizat-img {
    width: 400px;
  }
  #manet {
    width: 400px;
  }
  figure #castiglione-drawing {
    width: 400px;
  }

  figure #castigliones-back {
    width: 400px;
  }
}

#croizat-img {
  width: 600px;
}

#castiglione-drawing {
  width: 500px;
}
#castigliones-back {
  width: 700px;
}

/* ipad second */
@media (max-width: 768px) {
  header h1 {
    font-size: 20vw;
  }

  header h2 {
    font-size: 12vw;
  }
  header h3 {
    font-size: 10vw;
    margin: 0;
  }

  #page-title p {
    font-size: 10vw;
  }

  nav a cite {
    font-size: 40px;
  }

  #creditos {
    margin: 50px 20px 20px 20px;
  }

  #creditos h2 {
    font-size: 60px;
  }

  #creditos p {
    font-size: 35px;
    padding: 10px;
  }

  footer {
    margin: 20px;
  }

  footer p {
    font-size: 20px;
  }

  #page-title::after {
    padding-top: 60px;
    border-bottom: 0.2em solid rgba(95, 121, 149, 0.5);
    padding-top: 20px;
  }

  #mve {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
  }
  figure figcaption {
    margin: 5% 10% 10% 10%;
    font-size: 12px;
  }

  article {
    font-size: calc(1em * 1.7);
    margin: 40px 1px 20px 1px;
  }

  article p {
    text-align: left;
    margin: 3%;
    line-height: 1.5;
  }

  #references {
    margin: 15% 5%;
  }

  #references p {
    font-size: calc(1em * 0.8);
    padding: 0px;
    line-height: 1.5;
  }

  .epigraph {
    margin: 70px 15px 60px 30px;
    font-size: 1.5em;
  }

  h3 {
    margin: 30px;
  }

  #figcaption-apt1 {
    margin: 5% 10% 10% 10%;
    font-size: 12px;
  }

  figure #croizat-img {
    width: 80%;
  }

  figure {
    margin-top: 40px;
  }
  .cite {
    margin: 70px 15px 70px 15px;
    font-size: 1em;
    line-height: 1.5;
  }
  #manet {
    width: 80%;
  }
  figure #castigliones-back {
    width: 80%;
  }
}

/* mobile first */
@media (max-width: 600px) {
  nav a cite {
    font-size: 20px;
  }

  #creditos {
    margin: 50px 20px 20px 20px;
  }

  #creditos h2 {
    font-size: 35px;
  }

  #creditos p {
    font-size: 20px;
    padding: 10px;
  }

  article {
    font-size: calc(1em * 1.2);
    margin: 40px 1px 20px 1px;
  }

  #references p {
    font-size: calc(1em * 0.6);
    padding: 0px;
    line-height: 1.5;
  }

  .epigraph {
    margin: 70px 15px 30px 30px;
    font-size: 1.5em;
  }
}


#link-inicio {
  font-size: larger;
  margin-top: 100px;
}